.dropdown {
  border: 0.1rem solid #ddd;
  border-radius: 0.6rem;
  max-height: 23rem;
  overflow: auto;

  &__item {
    cursor: pointer;
    padding: 0.6rem 0.3rem;
    font-size: 1.7rem;

    &:hover {
      background-color: #ddd;
    }
  }
}

