* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

.container {
  width: 80%;
  font-size: 2.5rem;
  margin: 0 auto;
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown {
  margin-left: 1.5rem;
}

.dropdown__item {
  width: calc(100% - 1.5rem);
  cursor: pointer;
}

.dropdown__item:hover {
  background-color: #ddd;
}

nav ul {
  display: flex;
}

nav li {
  display: block;
  margin: 0 auto;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

form input {
  width: 40rem;
  height: 5rem;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.2rem;
}