@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  width: 100%;
  font-size: 62.5%;
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: block;
      margin: 1rem;
    }
  }
}

